/**
 * Generics (Helper classes)
 */

// unstyle list
ul.unstyled,
ol.unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Float
.fl {
	float: left;
	@extend .pr;
}
.fr {
	float: right;
	@extend .pr;
}
.fn {float: none}

// Display
.db {
	display: block;
}
.dn {
	display: none;
}
.di {
	display: inline;
}
.inline-block {
	display: inline-block;
}

// Visibility
.vh {
	visibility: hidden;
}
.vv {
	visibility: visible;
}

// Overflow
.oh {
	overflow: hidden;
}

// Position
.pa {
	position: absolute;
}
.pf {
	position: fixed;
}
.pr {
	position: relative;
}

// Clear
.cb, .clear {
	clear: both;
}
.cn {
	clear: none;
}

.rounded2 {
	@include border-radius(2px);
}
.rounded3 {
	@include border-radius(3px);
}
.rounded4,
.rounded {
	@include border-radius(4px);
}
.rounded5 {
	@include border-radius(5px);
}
.rounded6 {
	@include border-radius(6px);
}
.rounded10 {
	@include border-radius(10px);
}
.rounded15 {
	@include border-radius(15px);
}
.rounded20 {
	@include border-radius(20px);
}
.rounded25 {
	@include border-radius(25px);
}
.rounded50 {
	@include border-radius(50%);
}

/* Prevent background color leak outs */
.background-clip {
	background-clip: padding-box; // Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+
}

.opacity0 {
	opacity: 0;
}
.opacity50 {
	opacity: 0.5;
}
.opacity75 {
	opacity: 0.75;
}
.opacity100 {
	opacity: 1;
}

// Transitions
.transition-color-25 {
	@include transition(color .25s ease-out);
}
.transition-bg-25 {
	@include transition(background-color .25s ease-out);
}
.transition-border-25 {
	@include transition(border-color .25s ease-out);
}
.transition-boxshadow-25 {
	@include transition(box-shadow .25s ease-out);
}
.transition-opacity-25 {
	@include transition(opacity .25s ease-out);
}
.transition-all-25 {
	@include transition(all .25s ease-out);
}
.transition-all-50 {
	@include transition(all .50s ease-out);
}

.border-box {
	-webkit-box-sizing: border-box; // Android ≤ 2.3, iOS ≤ 4
	-moz-box-sizing: border-box; // Firefox ≤ 28
	box-sizing: border-box; // Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1
}


.focus-effect {
	@include transition(border-color .5s, box-shadow .5s);
	&:focus {
		@extend .hover;
	}
}
.hover-effect {
	@include transition(border-color .5s, box-shadow .5s);
	&:focus,
	&:hover {
		@extend .hover;
		outline: none;
	}
	.oldie &:focus,
	.lt-ie9 &:focus {
		outline: 1px thin;
	}
}
.hover {
	border-color: rgba(82, 168, 236, 0.8) !important;
	@include box-shadow(0 0 8px rgba(82, 168, 236, 0.6) !important);
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



/* ==========================================================================
   H5BP helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}