// SASS Variables

// Font size
$browser-context: 16; // Default

// Fonts
$sans-font: "Helvetica Neue", Tahoma, Verdana, Helvetica, Arial, "Lucida Grande", Segoe, sans-serif;

$serif-font: Georgia, Times, "Times New Roman", serif;

$black-font: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "Arial Bold", Gadget, sans-serif;

$main-font: $sans-font;

$heading-font: $main-font;

// COLORS
$main-color: #444444;
$link-color: #0063dc;
$gray-color: #888888;