@mixin font-face($family, $filename, $weight: normal, $style: normal) {	
@font-face {
	font-family: "#{$family}";
	// src: url("#{$filename}.eot"); /* IE9 Compat Modes */
	src: url("#{$filename}.eot?#") format("eot"); /* IE9 Compat Modes */
	src: local("☺"),
		 // url("#{$filename}.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	     url("#{$filename}.woff") format("woff"), /* Modern Browsers */
	     url("#{$filename}.ttf") format("truetype"), /* Safari, Android, iOS */
	     url("#{$filename}.svg##{$filename}") format("svg"); /* Legacy iOS */
	font-weight: $weight;
	font-style: $style;
}
}

@mixin clearfix() {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin inline-block() {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@mixin rounded($radius: 5px, $corner: false) {
	@if $corner == 'top right' {
		-webkit-border-top-right-radius: $radius;
		-moz-border-radius-topright: $radius;
		border-top-right-radius: $radius;
	} @else if $corner == 'top left' {
		-webkit-border-top-left-radius: $radius;
		-moz-border-radius-topleft: $radius;
		border-top-left-radius: $radius;
	} @else if $corner == 'bottom right' {
		-webkit-border-bottom-right-radius: $radius;
		-moz-border-radius-bottomright: $radius;
		border-bottom-right-radius: $radius;
	} @else if $corner == 'bottom left' {
		-webkit-border-bottom-left-radius: $radius;
		-moz-border-radius-bottomleft: $radius;
		border-bottom-left-radius: $radius;
	} @else {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		border-radius: $radius;
	}

	@extend .padding-box;
}

@mixin box-shadow($shadow1, $shadow2: false, $shadow3: false, $shadow4: false, $shadow5: false) {
	$params: $shadow1;

	@if $shadow2 {
		$params: $shadow1, $shadow2; }
	@if $shadow3 != false {
		$params: $shadow1, $shadow2, $shadow3; }
	@if $shadow4 != false {
		$params: $shadow1, $shadow2, $shadow3, $shadow4; }
	@if $shadow5 != false {
		$params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5; }

	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	box-shadow: $params;
}

@mixin linear-gradient($from, $to, $old: false) {
	@if $old == false {
		$old: $from; }

	// Old browsers
	background: $old;
	// FF3.6+
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	// Chrome,Safari4+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	// Chrome10+,Safari5.1+
	background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	// Opera 11.10+
	background: -o-linear-gradient(top, $from 0%,$to 100%);
	// IE10+
	background: -ms-linear-gradient(top, $from 0%,$to 100%);
	// W3C
	background: linear-gradient(to bottom, $from 0%,$to 100%);

	.no-cssgradients & {
		// IE6-9
		filter: progid:DXImageTransform.Microsoft.gradient( enabled="false", startColorstr="#{ie-hex-str($from)}", endColorstr="#{ie-hex-str($to)}",GradientType=0 );
	}
}

@mixin opacity($value: 0.5) {
	// Netscape
	-moz-opacity: $value;
	// Safari 1.x
	-khtml-opacity: $value;
	// Good browsers
	opacity: $value;

	.lt-ie9 & {
		$percent: $value * 100;
		// IE 8
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="#{$percent}")";
		// IE 5-7
		filter: alpha(opacity=#{$percent});
	}
}

@mixin transition($params, $params2: false, $params3: false, $params4: false, $params5: false, $params6: false) {
	@if $params2 {
		$params: $params, $params2; }
	@if $params3 != false {
		$params: $params, $params2, $params3; }
	@if $params4 != false {
		$params: $params, $params2, $params3, $params4; }
	@if $params5 != false {
		$params: $params, $params2, $params3, $params4, $params5; }

	-webkit-transition: $params;
	-moz-transition: $params;
	-o-transition: $params;
	transition: $params;
}
