// SASS Global Variables

// Font size
$browser-context: 16; // Default

// Fonts
$sans-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif-font: Georgia, Times, "Times New Roman", serif;
$tahoma-font: Tahoma, Verdana, Segoe, sans-serif;

$main-font: $sans-font;
$title-font: $sans-font;

// COLORS
$main-color: #222;
$link-color: #0063dc;
$gray-color: #999;